@page "/todo"
@rendermode InteractiveServer

<h1>Dude please can i just fucking get this done. Anyways To Do left on the list is: @ToDoList.Count(ToDoELement => !ToDoELement.IsDone)</h1>

<ul>
        @foreach (var ToDoElement in ToDoList)
        {
            <li>
                <input type="checkbox" @bind="ToDoElement.IsDone"/>
                <input @bind="ToDoElement.Title" />
            </li>
        }
</ul>

<input @bind = "ToDoELement" placeholder="enter it you dipshit" />
<button @onclick = "AddToDo">Add new item</button>

@code{
    private List<ToDoItem> ToDoList = new();
    string ToDoELement = "";

    void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(ToDoELement))
        {
            ToDoList.Add(new ToDoItem {Title = ToDoELement});
            ToDoELement = string.Empty;
        }
    }
}